extends layout

block content
	
	.container
		.row
			.col-sm-8.col-sm-offset-2
				h1 Welcome!
				h3 Please check out 
					a(href='/sensors/stations') stations 
					| or 
					a(href='/sensors/map') locate 
					| the sensors to stream live data.