//- Angular
script(src='/plugins/angular/angular.min.js')

//- JQuery
script(src='/plugins/jquery/jquery.min.js')

//- Bootstrap
script(src='/plugins/bootstrap/js/bootstrap.min.js')

//- script(src='/javascripts/login.js')
//- Scripts
	script(src='/javascripts/login.js')