//- Favicon
link(rel='shortcut icon', href='/images/logos/favicon.ico')

//- C3.css
link(rel='stylesheet', href='/plugins/c3/c3.min.css')

//- Datatables
//- link(rel='stylesheet', href='https://cdn.datatables.net/v/bs/dt-1.10.12/cr-1.3.2/r-2.1.0/datatables.min.css')
link(rel='stylesheet', href='/plugins/datatables/datatables.min.css')

//- Bootstrap
link(rel='stylesheet', href='/plugins/bootstrap/css/bootstrap-paper.min.css')

//- DRP
link(rel='stylesheet' href='/plugins/daterangepicker/daterangepicker.min.css')

//- Leaflet
link(rel='stylesheet' href='/plugins/leaflet/leaflet.css')

//- Roboto
link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:100,300,400")

//- Custom styles
link(rel='stylesheet', href='/stylesheets/style.css')